<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% include 'links.html' %}
</head>
<body>
{% include 'navbar.html' %}
<br><br><br><br><br><br>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                         width="150px"
                                                                                         src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span
                    class="font-weight-bold">{{ name }}</span>
                <span
                    class="text-black-50">{{ session['email'] }}</span><span> </span></div>
            <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" type="button">Delete Profile</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center p-5">
                <h1 class="text-white mb-4 mt-5">Update Account</h1>
                <form class="mb-5" name="register_form" method="post" action="{{ url_for('edit_account') }}">
                    <div class="form-group">
                        <input type="text" name="name" id="name"
                               pattern="[A-Za-z\s]{1,64}"
                               title="No special characters and within 64 characters"
                               class="form-control bg-transparent border-primary p-4 field" placeholder="Full Name"
                               required="required" value="{{ name }}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" id="address"
                               pattern="[A-Za-z0-9\s,#-]{1,64}"
                               title="invalid characters or over 64 characters"
                               class="form-control bg-transparent border-primary p-4 field" placeholder="Address"
                               required="required" value="{{ address }}"/>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email"
                               class="form-control bg-transparent border-primary p-4 field" placeholder="Email"
                               required="required" value="{{ session['email'] }}"/>
                    </div>
                    <div class="form-group">
                        <input type="number" name="mobile"
                               class="form-control bg-transparent border-primary p-4 field" placeholder="Mobile Number"
                               required="required" value="{{ mobile }}"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,128}"
                               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                               class="form-control bg-transparent border-primary p-4 field"
                               placeholder="Password"
                               required="required"/>
                    </div>

                    <p class="error error--hidden"></p>
                    <div>
                        <!--<button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Register</button> -->
                        <input type="submit" value="Update" class="btn btn-primary btn-lg">
                    </div>
                </form>
            </div>
            <div class="d-block p-2 bg-white">
                <div id="message">
                    <h3>Password must contain the following:</h3>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Footer Start -->
<div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
    <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i>10 Dover Dr, Singapore 138683</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+65 6592 1189</p>
            <p class="m-0"><i class="fa fa-envelope mr-2"></i>enquiry@tisbakery.com.sg</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
            <p>Follow us!</p>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
            <div>
                <h6 class="text-white text-uppercase">Monday - Friday</h6>
                <p>8.00 AM - 8.00 PM</p>
                <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                <p>2.00 PM - 8.00 PM</p>
            </div>
        </div>

    </div>
    <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="mb-2 text-white">Copyright &copy; <a class="font-weight-bold" >Domain</a>. All Rights Reserved.</p>
        <p class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML Codex</a></p>
    </div>
</div>


<!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="./static/lib/easing/easing.min.js"></script>
    <script src="./static/lib/waypoints/waypoints.min.js"></script>
    <script src="./static/lib/owlcarousel/owl.carousel.min.js"></script>
    <!--<script src="../static/lib/tempusdominus/js/moment.min.js"></script> -->
    <script src="./static/lib/tempusdominus/js/moment-timezone.min.js"></script>
   <!-- <script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>-->

    <!-- Contact Javascript File -->
    <script src="./static/mail/jqBootstrapValidation.min.js"></script>
    <script src="./static/mail/contact.js"></script>
    <script src="./static/js/scripts.js"></script>

    <!-- Template Javascript -->
    <script src="./static/js/main.js"></script>

<!-- Footer End -->
</html>