<!-- Navbar Start -->


<div class="container-fluid p-0 nav-bar">
    <nav style="background: #33211D;" ; class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="{{ url_for('home') }}" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">TIS Bakery</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                {% if session['analyst_logged_in'] %}
                    <a href="{{ url_for('analyst') }}" class="nav-item nav-link">Dashboard</a>
                    <a href="{{ url_for('logout') }}" class="nav-item nav-link">Logout</a>

                {% elif session.email %}
                    <a class="nav-item nav-link">Welcome {{ session['email'] }}</a>
                    <a href="{{ url_for('about') }}" class="nav-item nav-link">About Us</a>
                    <a href="{{ url_for('allproducts') }}" class="nav-item nav-link">Our Goods</a>
                    <a href="{{ url_for('cart') }}" class="nav-item nav-link">Cart</a>
                    <a href="{{ url_for('account') }}" class="nav-item nav-link">Account</a>
                    <a href="{{ url_for('logout') }}" class="nav-item nav-link">Logout</a>
                {% else %}
                    <a href="{{ url_for('about') }}" class="nav-item nav-link">About Us</a>
                    <a href="{{ url_for('login') }}" class="nav-item nav-link">Login</a>
                    <a href="{{ url_for('register') }}" class="nav-item nav-link">Register</a>
                    <a href="{{ url_for('allproducts') }}" class="nav-item nav-link">Our Goods</a>
                {% endif %}

            </div>
        </div>
    </nav>
    <!-- TEST
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{session.email}}
        <button type="button" class="close" data-dismiss="alert">
        </button>
    </div>
-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% else %}
                    <div id="al-success" class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<!-- Navbar End -->
