<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TIS Bakery</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    {%  include 'links.html' %}
</head>

<body>
    <div>{% include 'navbar.html' %}</div>
    
        <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Thanks for your order!</h1>
        </div>
    </div>

<!-- Indiv Product Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">
              <p>
                We appreciate your business! If you have any questions, please email
                <a href="mailto:orders@example.com">enquiry@tisbakery.com.sg</a>.
              </p>
            </div>
        </div>
    </div>
</div>
<!-- Indiv Product End -->

    {% include 'footer.html' %}

</body>

</html>